@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
    <title> QA Automation Framework</title>
</head>

<body>
    <h1> QA Automation Framework Web Interface</h1>
    <div classname="submission-area" id="page-wrap">
        <h1> Login Script Location </h1>
        <input id="Login" type="text" class="login-input" />

        <br>

        <h1> Test Script Folder </h1>
        <input id="TestsFolder" type="text" class="location-input" />
        <br>

        <input type="button" value="Submit" class="submit-button" />

    </div>
</body>
